<div class="wrapper">
  <mat-card>
    <mat-card-title>ID 입력</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="ID" formControlName="id">
          </mat-form-field>
        </p>
        <p *ngIf="id?.touched && id?.invalid && id?.errors?.required" class="error">
          <mat-card > Id is required</mat-card>
        </p>
        <p *ngIf="id?.touched && id?.invalid && id?.hasError('maxlength')" class="error">
          <mat-card > Please under 20 letters</mat-card>
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="primary" [disabled]="!signInForm.valid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>